/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
*.pdf
*.so
*.o
*.a
*.aux
*.log
*.png
*sublime*
*.nrepl-port
*.eps
*.out
*.mat
small_graph_landscapes/
